#ptag1{
    border: 20px dashed goldenrod;
    background-color: rgb(131, 185, 211);
    padding: 20px;
    margin-top: 30px;
    width: 200px;
    height: 326px;
}
#ptag2{
    border: 30px dotted cyan;
    background-color: mediumpurple;
    padding: 30px;
    margin: 50px;
    width: 200px;
    height: 200px;
    text-align: center;
}
#magimg{
    float: left;
}
#shkimg{
    float: right;
}
#shkimg2{
    float: none;
}